<div id="main" layout="column" tabindex="-1" layout-fill role="main" ng-controller="ormawaListCtrl">

	<!--Toolbar !-->
	<md-toolbar class="md-whiteframe-z1 site-content-toolbar" ng-show="!showSearch">
      <div class="md-toolbar-tools" layout="row">
        <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
          <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        <h1 flex>
          Organisasi Mahasiwa
        </h1>
        <md-button class="md-icon-button" aria-label="Search" ng-click="showSearch = !showSearch">
          <ng-md-icon icon="search"></ng-md-icon>
        </md-button>
       <md-menu md-position-mode="target-right target" >
          <md-button class="md-icon-button" aria-label="Open Settings" ng-click="$mdOpenMenu($event)">
            <ng-md-icon icon="more_vert"></ng-md-icon>
          </md-button>
          <md-menu-content width="4" >
            <md-menu-item >
              <md-button ng-click="orderBy('id_ukm')">
                  <div layout="row">
                    <p flex class="md-caption">Default</p>
                    <ng-md-icon icon="{{icon}}" ng-show="key === 'id_ukm'"></ng-md-icon>  
                  </div>
              </md-button>
            </md-menu-item>
            <md-menu-item >
              <md-button ng-click="orderBy('nama_ukm')">
                  <div layout="row">
                    <p flex class="md-caption">Nama</p>
                    <ng-md-icon icon="{{icon}}" ng-show="key === 'nama_ukm'"></ng-md-icon>  
                  </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
      </md-toolbar>
      <!--search Toolbar !-->
        <md-toolbar class="md-whiteframe-z1 site-content-search" ng-show="showSearch">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="switchToolbar()" aria-label="Back">
            <ng-md-icon icon="arrow_back" style="fill:#000000"></ng-md-icon>
          </md-button>
          <form layout="row" style="margin-top:24px;" novalidate name="formCari" ng-submit="cari()" flex>
          <md-input-container md-no-float flex class="no-margin">
          <input ng-model="textCari" placeholder="Cari Organisasi Mahasiswa" class="toolbar-input" required flex>
          </md-input-container>
          </form>
          <md-button class="md-icon-button md-primary md-hue-3" aria-label="Search" ng-click="cari()" ng-disabled="formCari.$invalid">
            <ng-md-icon icon="search" style="fill:#000000"></ng-md-icon>
          </md-button>

          <md-menu md-position-mode="target-right target" >
          <md-button class="md-icon-button" aria-label="Open Settings" ng-click="$mdOpenMenu($event)">
            <ng-md-icon icon="more_vert" style="fill:#000000"></ng-md-icon>
          </md-button>
          <md-menu-content width="4" >
            <md-menu-item >
              <md-button ng-click="orderBy('id_ukm')">
                  <div layout="row">
                    <p flex class="md-caption">Default</p>
                    <ng-md-icon icon="{{icon}}" ng-show="key === 'id_ukm'"></ng-md-icon>  
                  </div>
              </md-button>
            </md-menu-item>
            <md-menu-item >
              <md-button ng-click="orderBy('nama_ukm')">
                  <div layout="row">
                    <p flex class="md-caption">Nama</p>
                    <ng-md-icon icon="{{icon}}" ng-show="key === 'nama_ukm'"></ng-md-icon>  
                  </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        </div>
      </md-toolbar>

    <!--Content !-->
    <md-content  id="main-content" md-scroll-y class="gray" style="margin-top:0px;margin-bottom:0px;" flex>
    <div layout="row" layout-align="space-around" ng-show="!ukmList">
        <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
    </div>
    <div class='md-padding gray' layout="row" layout-wrap>
        <md-card flex-xs="100" flex-sm="45" flex-md="25" flex-lg="20" flex-xl="20" layout="column" ng-repeat="ukm in ukmList">
          <img class="md-card-image image-lg-ukm" ng-src="{{ukm.type + ukm.logo_ukm}}" hide-xs hide-sm>
          <md-card-title>
          <md-card-title-text>
            <span class="md-title">{{ukm.nama_ukm}}</span>
          </md-card-title-text>
          <img class="md-card-image image-ukm" ng-src="{{ukm.type + ukm.logo_ukm}}" show-xs show-sm hide-gt-sm>
          </md-card-title>

          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-primary" ng-click="editOrmawa($event,ukm.id_ukm,ukm.nama_ukm)">Sunting</md-button>
            <md-button class="md-primary" ng-click="deleteOrmawa($event,ukm.id_ukm,ukm.nama_ukm)">Hapus</md-button>
          </md-card-actions>
        </md-card>
    </div>
    </md-content>

    <!-- fab button -->
    <md-button aria-label="Add" class="md-fab md-fab-bottom-right md-hue-2" 
      ng-click="addOrmawa($event)">
        <md-tooltip hide show-gt-sm md-direction="left">
          Tambah Organisasi Mahasiswa
        </md-tooltip>
        <ng-md-icon icon="add"></ng-md-icon></md-button>
    </md-button>
</div>